<a href="https://colab.research.google.com/github/austiezr/austiezr_lambdata/blob/master/Lambdata_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%%capture

!pip install --index-url https://test.pypi.org/simple/ austiezr-lambdata
from austiezr_lambdata.austiezr_lambdata import MVP, TransformDF

from sklearn.linear_model import LogisticRegressionCV, LinearRegression
import pandas as pd

In [0]:
%%capture

!wget 'https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip'
!unzip 'student.zip'

df = pd.read_csv('/content/student-mat.csv', sep=';')
df['course'] = 'Math'
df1 = pd.read_csv('/content/student-por.csv', sep=';')
df1['course'] = 'Language'
df = df.append(df1, ignore_index=True)

In [3]:
dateTest = pd.DataFrame(data=['2006-12-15', '2003-11-22'], columns=['date'])
dateTest

         date
0  2006-12-15
1  2003-11-22

In [4]:
dateTest = TransformDF.date_split(dateTest, 'date')
dateTest

        date  year  month  day  day_of_week  day_of_year
0 2006-12-15  2006     12   15            4          349
1 2003-11-22  2003     11   22            5          326

In [5]:
MVP(LogisticRegressionCV(n_jobs=-1,
                       random_state=33,
                       max_iter=200
                       )).fast_first(df, 'course')

Baseline Accuracy:
Language    0.621648
Math        0.378352
Name: course, dtype: float64


Training Accuracy: 0.8287425149700599

Test Accuracy: 0.7655502392344498

In [6]:
MVP(LinearRegression()).fast_first(df, 'G3')

Baseline MAE: 2.82088122605364

Training MAE: 0.9348248456160956

Test MAE: 1.0109881978970134